<div class="w-full flex flex-col items-center justify-center bg-gray-50">

  <h1 class="font-bold text-4xl text-gray-800 mb-6 text-center">
    Bienvenido a la Documentación de la API
  </h1>

  <p class="text-lg text-gray-600 max-w-3xl text-center">
    Nuestra API te permite obtener información de precios actualizada de diversas fuentes en tiempo real.
    Con ella podrás analizar precios de la competencia, generar reportes y mucho más.
  </p>
  
  <p class="text-lg text-gray-600 max-w-3xl text-center mt-4">
    A continuación, encontrarás más detalles sobre cómo usar nuestra API para integrar sus funcionalidades en tu sistema.
  </p>

  <!-- Botón Swagger -->
  <a 
    href="/api-docs" 
    target="_blank" 
    class="mt-6 px-6 py-3 bg-yellow-500 text-white font-semibold text-lg rounded-md shadow-md hover:bg-yellow-600 text-center"
  >
    Ir a Swagger
  </a>

  <!-- Botón Postman -->
  <a 
    href="https://documenter.getpostman.com/view/20417750/2sAY52cKBX" 
    target="_blank" 
    class="mt-6 px-6 py-3 bg-red-500 text-white font-semibold text-lg rounded-md shadow-md hover:bg-red-600 text-center"
  >
    Ir a Postman
  </a>

</div>
