<div id="<%= dom_id notification %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= notification.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= notification.product_id %>
  </p>

</div>
